DATABASE_URL="postgresql://postgres:dpmn0312@localhost:5432/ccishub?schema=public"
BETTER_AUTH_SECRET="xlAiaFS2piXJFi2ALhRk3g11TMRskPn4"
BETTER_AUTH_URL="https://10.111.11.44:3000"
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="ygmmi186"
NEXT_PUBLIC_CLOUDINARY_API_KEY="288375688648673"
CLOUDINARY_API_SECRET="KDwT_o8duM3SFRHSvu1Xs_1CWCM"